<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Test Simple Notes</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="note" placeholder="Bir not girin" required />
        <button type="submit">Save</button>

        <h2>Notlar:</h2>
        <ul>
            {% for i in range(notes | length) %}
                <li>
                    {{ notes[i] }}
                    <form method="POST" action="/delete" style="display:inline;">
                        <input type="hidden" name="index" value="{{ i }}">
                        <button type="submit">Delete</button>
                    </form>

                    <form method="GET" action="/test_edit/{{ i }}" style="display:inline;">
                        <button type="submit">Update</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>