<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Simple Notes</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="note" placeholder="Please enter a note" required />
        <button type="submit">Save</button>
    </form>
    
    <h2>Notes:</h2>
    <ul>
        {% for i in range(notes | length) %}
            <li>
                {{ notes[i] }}
                <form method="POST" action="/delete" style="display:inline;">
                    <input type="hidden" name="index" value="{{ i }}"/>
                    <button type="submit">Delete</button>
                </form>

                <form method="GET" action="/edit/{{ i }}" style="display:inline;">
                    <button type="submit">Update</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>