<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Simple Notes with SQLite</title>
</head>
<body>
    <h3>Welcome, {{ user }}! <a href="{{ url_for('logout') }}">Exit</a><h3>
    <form method="POST" action="{{ url_for('add_note') }}" style="display:inline;">
        <input type="text" name="note" placeholder="Please enter a note" required />
        <button type="submit">Save</button>
    </form>
    <form method="GET" action="{{ url_for('search') }}" style="display:inline;">
        <input type="text" name="q" placeholder="Search a keyword" required>
        <button type="submit">Search</button>
    </form>
        <h2>Notlar:</h2>
        <ul>
            {% for id, text in notes %}
                <li>
                    {{ text }}
                    <form method="POST" action="{{ url_for('delete_note', id=id) }}" style="display:inline;">
                        <button type="submit">Delete</button>
                    </form>
                    <a href="{{ url_for('edit_note', id=id) }}">
                        <button type="button">Update</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
</body>
</html>